# =========================
# ANDROID / GRADLE
# =========================
.gradle/
**/.gradle/
build/
**/build/

# =========================
# ANDROID STUDIO
# =========================
.idea/
*.iml

# =========================
# LOGS / TEMP
# =========================
*.log
*.tmp

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
.venv/
env/

# =========================
# MODELOS PESADOS
# =========================
*.onnx

# =========================
# NOTA IMPORTANTE
# =========================
# local.properties SI se sube (NO ignorar)
