<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Este permiso solo se activará en la versión de DEBUG instalada desde Android Studio -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:node="replace" />

    <application
        android:requestLegacyExternalStorage="true"
        tools:node="merge">
    </application>

</manifest>
